---
import { CLASSES } from "../classes";
import { THEME_STORAGE_KEY } from "../consts";
import { ICONS } from "../styles";
---

<button
  id="theme-toggle"
  type="button"
  class={CLASSES.visual.themeToggle}
  aria-label="Toggle Dark Mode"
>
  <svg
    id="theme-toggle-dark-icon"
    class="hidden w-5 h-5"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d={ICONS.moon}></path>
  </svg>
  <svg
    id="theme-toggle-light-icon"
    class="hidden w-5 h-5"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d={ICONS.sun}
      fill-rule="evenodd"
      clip-rule="evenodd"
    ></path>
  </svg>
</button>

<script define:vars={{ THEME_STORAGE_KEY }}>
  // Script to handle the toggle logic
  const themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
  const themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');
  const themeToggleBtn = document.getElementById('theme-toggle');

  // Change the icons inside the button based on previous settings
  if (
    localStorage.getItem(THEME_STORAGE_KEY) === 'dark' ||
    (!(THEME_STORAGE_KEY in localStorage) &&
      window.matchMedia('(prefers-color-scheme: dark)').matches)
  ) {
    themeToggleLightIcon?.classList.remove('hidden');
  } else {
    themeToggleDarkIcon?.classList.remove('hidden');
  }

  themeToggleBtn?.addEventListener('click', function () {
    // toggle icons inside button
    themeToggleDarkIcon?.classList.toggle('hidden');
    themeToggleLightIcon?.classList.toggle('hidden');

    // if set via local storage previously
    if (localStorage.getItem(THEME_STORAGE_KEY)) {
      if (localStorage.getItem(THEME_STORAGE_KEY) === 'light') {
        document.documentElement.classList.add('dark');
        localStorage.setItem(THEME_STORAGE_KEY, 'dark');
      } else {
        document.documentElement.classList.remove('dark');
        localStorage.setItem(THEME_STORAGE_KEY, 'light');
      }
    } else {
      // if NOT set via local storage previously
      if (document.documentElement.classList.contains('dark')) {
        document.documentElement.classList.remove('dark');
        localStorage.setItem(THEME_STORAGE_KEY, 'light');
      } else {
        document.documentElement.classList.add('dark');
        localStorage.setItem(THEME_STORAGE_KEY, 'dark');
      }
    }
  });
</script>
