name: Index

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  id-token: write
  pages: write

jobs:
  default:
    if: github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/default.yaml

  quality:
    uses: ./.github/workflows/quality.yaml

  testing:
    uses: ./.github/workflows/testing.yaml

  release:
    needs: [quality, testing]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: ./.github/workflows/release.yaml
    secrets: inherit